/* Referral code block inside coupon box */
#referral-code-wrapper {
    margin-top: 25px;
    padding-top: 15px;
    border-top: 1px dashed #ddd;
}

#referral-code-wrapper h5 {
    margin-bottom:2px;
    text-align: left;
    margin-top: 0px;
}

.referral-code-input{
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: nowrap;
    margin-bottom: 0px;
    padding-bottom: 0px !important;
}

#referral-code-wrapper input {
    margin-bottom: 6px;
    box-sizing: border-box;
    border: 1px solid #cfc8d8;
    padding: 6px 6px 5px;
    margin: 0 4px 0 0;
    outline: 0;
    width: auto;
    border: 0;
    margin: 0 20px 0 0;
}

#referral-code-wrapper button {
    margin-top: 6px;
    /* width: 100%; */
    box-shadow: none;
}

#referral_message {
    font-size: 13px;
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: left;
}

.referral-code-input .form-control[disabled]{
    border-bottom: none !important;
    background-image: linear-gradient(#9c27b0, #9c27b0), linear-gradient(#d2d2d2, #d2d2d2) !important;
}
#apply_referral_code[disabled] {   
    opacity: 0.7;
    cursor: not-allowed;
}
.referral-code-input.is_focused .form-control {
    background-image:  -webkit-gradient(linear, left top, left bottom, from(#080808), to(#080808) ), -webkit-gradient( linear, left top, left bottom, from(#d2d2d2), to(#d2d2d2) ) !important;
}
